:root {
  --shadow: hsl(241, 100%, 89%, 40%);
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  min-height: 48vh;
  height: fit-content;
  box-shadow: 10px 10px 25px var(--shadow);
  border-radius: 25px;
  overflow: hidden;
}

@media only screen and (max-width: 610px) {
  .App {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }
}
